body {
    background: #07040d;
    color: white;
    font-family: sans-serif;
    margin: 0
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.88)),
        url('assets/bg.png');

    background-size: cover;
    background-position: center;
    z-index: -3;
}


.matrix {
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(125, 39, 245, .05) 1px, transparent 1px), linear-gradient(90deg, rgba(125, 39, 245, .05) 1px, transparent 1px);
    background-size: 45px 45px;
    z-index: -1
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.avatar {
    width: 250px;
    border-radius: 50%;
    border: 2px solid #7D27F5
}

.hero h1 {
    font-size: 5rem;
    color: #f2e9ff
}

.posts {
    width: min(1200px, 90%);
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    padding-bottom: 5rem;
}

.card {
    background: rgba(20, 10, 35, .84);
    border: 1px solid rgba(125, 39, 245, .14);
    border-radius: 24px;
    padding: 2rem
}

a {
    color: #7D27F5;
    text-decoration: none
}

.post-container {
    width: min(900px, 90%);
    margin: auto;
    padding: 6rem 0
}

.btn {
    padding: .8rem 1.3rem;
    border: 1px solid #7D27F5;
    border-radius: 12px
}
